@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    
}

.cor-do-texto-lancamento{
    color: #0033a0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}

.header {
    background-color: #ffffff;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 10px 5px 5px rgb(240, 235,235) ;
    height: 68px;
    
}

.logo {
    max-width: 150px;
    position: absolute;
    left: 20px;
    
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.nav-link {
    text-decoration: none;
    color: #001f5b;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

.nav-link:hover {
    background-color: #4c82ee;
    border-radius: 5px;
}

.main {
    flex: 1;
    padding: 20px;
    
}

.home-imagem {
    width: 84%;
    
    border-radius: 10px;
    align-items: center;
}

.home-texto {
    font-size: 18px;
    margin-top: 15px;
    color: #333;
    text-align: center;
}

.footer {
    background-color: #1b357e;
    color: #1b357e;
    padding: 20px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    max-height: 83px;
    
}

.copyright{
    color: #ffffff;
    position: absolute;
    display: flex;
    flex: 1;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}

.social-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.social-link img {
    width: 24px;
    height: 24px;
}



.galeria-img {
    width: 330px;
    aspect-ratio: cover;
}
.pagina-contato{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
}
.form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 30rem;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

.form-input, .form-textoarea, .form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-butao {
    background-color: #0033a0;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 16px;
}

.form-button:hover {
    background-color: #001f5b;
    transform: scale(1.05);
}

.main-contato{
display: flex;
flex-direction: row;
flex: 1;
align-items: flex-start;
justify-content: center;
padding-top: 6%;
gap: 2%;
}

.img-contato{
    object-fit: contain;
    height: auto;
    width: 30rem;

}

.botao-enviar{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.home{
    display: flex;
    flex: 1;
    flex-direction: column;
    
    text-align: center;
}

.main-lancamento{
    flex: 1;
}

.item-carro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.carro-informacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    
}

.agrupar-lancamento{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.botao-lancamento{
    zoom: 3;
}

.lista-carros{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
}

.divbotao-comparacao{
    display: flex;
    flex: 1;
    justify-content: center;
    padding-bottom: 24px;
    padding-top: 24px;
    
}

.botao-comparacao{
    background-color: #0033a0;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-size: 16px;
}

@media (max-width: 1024px) {
    .header {
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    
    .logo {
        position: static;
        margin-bottom: 10px;
    }
    
    .nav-list {
        flex-direction: column;
        gap: 10px;
    }
    
    .nav-link {
        display: block;
        padding: 10px;
    }
    .nav-list {
        flex-direction: column;
        gap: 10px;
    }

    .main-lancamento {
        padding: 20px;
    }

    .lista-carros {
        flex-wrap: wrap;
        justify-content: center;
    }

    .item-carro {
        width: 45%;
    }
    .header{
        font-size: 24px;
    }

    .footer{
        font-size: 24px;
    }

    .main-contato{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-contato{
        font-size: 24px;
    }

    .main-lancamento{
        font-size: 24px;
    }
    
    .home-texto{
        font-size: 24px;
    }

}

@media(max-width: 768px){
    .form {
        background: white;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        width: 20rem;
        margin: auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    .main-contato{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-contato{
        width: 20rem;
    }
    .item-carro {
        width: 100%;
    }
    .header{
        font-size: large;
    }
    .footer{
        font-size: large;
    }
}


@media (max-width: 493px) {
    .main-contato{
        display: flex;
        
    }
    .header {
        padding: 10px;
        font-size: medium;
    }
    
    .home-texto {
        font-size: 16px;
    }
    
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 10px 20px; 
        position: relative;
        font-size: medium;
    }
    
    .footer-logo {
        margin-top: -10px; 
    }
    
    .social {
        margin-top: -5px; 
    }
    
    .copyright {
        position: static;
        text-align: center;
        display: flex;
    }

    .nav-list {
        gap: 5px;
    }

    .video-youtube {
        height: 200px;
    }

    .item-carro {
        width: 100%;
    }

    .logofordfooter {
        width: 60px;
    }

    .main-lancamento{
        display: flex;
        flex-direction: column;
        font-size: medium;
    }
    
    .galeria-img{
        width: 10rem;
    }

    .main-contato{
        font-size: medium;
    }
}


